<!DOCTYPE html>
<html>
<head>
	<title>Starting up!</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css"/>

</head>
<body>
	<div class="back">
		<div class="appear fade-in" >
			<div class="header1">
					Edmonton
					Public
					Crime
					Database
			</div>

			<div class="option">
				<p><a href="{{ url_for('query2') }}">2. query check</a></p>

				<br/>

				<p><a href="{{ url_for('query3') }}">3. query check</a></p>

				<br>

				<p><a href="{{ url_for('query4') }}">4. query check</a></p>
			</div>
		</div>
	</div>

</body>
</html>