<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>#map_e9b44dbcc6de4410a36eed647636c127 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_e9b44dbcc6de4410a36eed647636c127" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_e9b44dbcc6de4410a36eed647636c127 = L.map(
        'map_e9b44dbcc6de4410a36eed647636c127', {
        center: [53.5444, -113.323],
        zoom: 11,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });


    
    var tile_layer_ff71ceefd613432b86c4b5a0ba56c72f = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
}).addTo(map_e9b44dbcc6de4410a36eed647636c127);
    

            var circle_293be263b5f04a55820be0836ea770a1 = L.circle(
                [53.50807597, -113.4161185],
                {
  "bubblingMouseEvents": true,
  "color": "green",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkgreen",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 77.0,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(map_e9b44dbcc6de4410a36eed647636c127);
            
    
            var popup_98b43d7267534455920275290eca6663 = L.popup({maxWidth: '100%'
            
            });

            
                var html_cd3baf21a65e4f61b619f26d6779cc2d = $(`<div id="html_cd3baf21a65e4f61b619f26d6779cc2d" style="width: 100.0%; height: 100.0%;">WEIR INDUSTRIAL 70</div>`)[0];
                popup_98b43d7267534455920275290eca6663.setContent(html_cd3baf21a65e4f61b619f26d6779cc2d);
            

            circle_293be263b5f04a55820be0836ea770a1.bindPopup(popup_98b43d7267534455920275290eca6663)
            ;

            
        
    

            var circle_afeacef419504e9d8746708d34d93913 = L.circle(
                [53.47125013, -113.6717408],
                {
  "bubblingMouseEvents": true,
  "color": "green",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "darkgreen",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 126.50000000000001,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(map_e9b44dbcc6de4410a36eed647636c127);
            
    
            var popup_07e3ec11e08f49f1b9ec9fc047c405a9 = L.popup({maxWidth: '100%'
            
            });

            
                var html_4a2e81c0d22043698e1ed6f60c0c7b5b = $(`<div id="html_4a2e81c0d22043698e1ed6f60c0c7b5b" style="width: 100.0%; height: 100.0%;">EDGEMONT 115</div>`)[0];
                popup_07e3ec11e08f49f1b9ec9fc047c405a9.setContent(html_4a2e81c0d22043698e1ed6f60c0c7b5b);
            

            circle_afeacef419504e9d8746708d34d93913.bindPopup(popup_07e3ec11e08f49f1b9ec9fc047c405a9)
            ;

            
        
    

            var circle_6929f366d2e54b1489ddcea2da5c13a2 = L.circle(
                [53.5194394, -113.514911],
                {
  "bubblingMouseEvents": true,
  "color": "crimson",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 994.2,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(map_e9b44dbcc6de4410a36eed647636c127);
            
    
            var popup_e57f3d54c1d84cada0292c9c7b7f87fb = L.popup({maxWidth: '100%'
            
            });

            
                var html_55e5ab921e9f450c96868f956357f853 = $(`<div id="html_55e5ab921e9f450c96868f956357f853" style="width: 100.0%; height: 100.0%;">GARNEAU 9942</div>`)[0];
                popup_e57f3d54c1d84cada0292c9c7b7f87fb.setContent(html_55e5ab921e9f450c96868f956357f853);
            

            circle_6929f366d2e54b1489ddcea2da5c13a2.bindPopup(popup_e57f3d54c1d84cada0292c9c7b7f87fb)
            ;

            
        
    

            var circle_8afa03279e07478d92377177c1633e62 = L.circle(
                [53.41761616, -113.4601568],
                {
  "bubblingMouseEvents": true,
  "color": "crimson",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.2,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 1131.4,
  "stroke": true,
  "weight": 3
}
                )
                .addTo(map_e9b44dbcc6de4410a36eed647636c127);
            
    
            var popup_c38974317c5b46128aeb60af60a90754 = L.popup({maxWidth: '100%'
            
            });

            
                var html_9ecf9050c57349a49c39f50687ffcc44 = $(`<div id="html_9ecf9050c57349a49c39f50687ffcc44" style="width: 100.0%; height: 100.0%;">SUMMERSIDE 11314</div>`)[0];
                popup_c38974317c5b46128aeb60af60a90754.setContent(html_9ecf9050c57349a49c39f50687ffcc44);
            

            circle_8afa03279e07478d92377177c1633e62.bindPopup(popup_c38974317c5b46128aeb60af60a90754)
            ;

            
        
</script>